/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#orlais {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* animacao zoom in (ativa a orlais)*/
.orlais-in {
    -webkit-animation-name: animation-in;
            animation-name: animation-in;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animation-in {
    from {opacity: 0; -webkit-transform: scale(0); transform: scale(0); visibility: hidden;}
    to {opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible;}
}

@keyframes animation-in {
    from {opacity: 0; -webkit-transform: scale(0); transform: scale(0); visibility: hidden;}
    to {opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible;}
}

/* zoom out (desativa a orlais) */
.orlais-out {
    -webkit-animation-name: animation-out;
            animation-name: animation-out;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes animation-out {
    from {opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible;}
    to {opacity: 0; -webkit-transform: scale(0); transform: scale(0); visibility: hidden;}
}

@keyframes animation-out {
    from {opacity: 1; -webkit-transform: scale(1); transform: scale(1); visibility: visible;}
    to {opacity: 0; -webkit-transform: scale(0); transform: scale(0); visibility: hidden;}
}

#orlais img {
    max-width: 90vw;
    max-height: 90vh;
}

/* muda o cursor para a lupa */
/* active */
#orlais {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-filter: brightness(1);
            filter: brightness(1);
}
#orlais .orlais-activator:hover {
    cursor: default;
}
/* desactive */
.orlais-activator:hover {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

/* animacao quando hover nas imagens do card */
.orlais-zoom {
    overflow: hidden;
}

.orlais-activator {
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.orlais-zoom:hover .orlais-activator {
    -webkit-transition-duration: 700ms;
         -o-transition-duration: 700ms;
            transition-duration: 700ms;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
}


/* next, prev arrows */
#orlais-prev, #orlais-next {
    color:white;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

#orlais-prev {
    padding: 20px 20px 20px 0px;
    left: 0;
}
#orlais-next {
    padding: 20px 0px 20px 20px;
    right: 0;
}

#orlais-prev:hover, #orlais-next:hover {
    cursor: pointer;
}

/* animations to next and prev buttons */
.orlais-next-img{
    position: relative;
    -webkit-animation-name: orlais-next-img;
            animation-name: orlais-next-img;
    -webkit-animation-duration: 750ms;
            animation-duration: 750ms;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes orlais-next-img {
    0% {left: 100vw; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}

@keyframes orlais-next-img {
    0% {left: 100vw; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}

.orlais-prev-img{
    position: relative;
    -webkit-animation-name: orlais-prev-img;
            animation-name: orlais-prev-img;
    -webkit-animation-duration: 750ms;
            animation-duration: 750ms;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes orlais-prev-img {
    from {right: 100vw; opacity: 0;}
    to {right: 0px; opacity: 1;}
}

@keyframes orlais-prev-img {
    from {right: 100vw; opacity: 0;}
    to {right: 0px; opacity: 1;}
}

/* zoom */

#orlais .orlaisZoom img{
    max-width: none;
    max-height: none;
    -webkit-animation-name: orlaisZoom;
            animation-name: orlaisZoom;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@-webkit-keyframes orlaisZoom{
    from{-webkit-transform: scale(0.5);transform: scale(0.5);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes orlaisZoom{
    from{-webkit-transform: scale(0.5);transform: scale(0.5);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}

#orlais .orlaisZoomOut img{
    -webkit-animation-name: orlaisZoomOut;
            animation-name: orlaisZoomOut;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@-webkit-keyframes orlaisZoomOut{
    from{-webkit-transform: scale(2);transform: scale(2);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes orlaisZoomOut{
    from{-webkit-transform: scale(2);transform: scale(2);}
    to{-webkit-transform: scale(1);transform: scale(1);}
}